INCIDENT HISTORY DETAIL


INITIATE: {$InitTime} CALL NUMBER:    {$EventNo}
ENTRY:    {$EntryTime} CURRENT STATUS: {$CurrentStatus}
DISPATCH: {$DispatchTime} ALARM LEVEL:    {$AlarmLevel}
ONSCENE:  {$OnsceneTime} CASE NUMBER:    {$IncidentNo}
CLOSE:    {$CloseTime}


LOCATION: {$Location} {$CrossStreet}
LOCATION COMMENTS: {$LocationNote}
MAP GRID: {$MapGrid}
STATION:  {$Station} TYPE:     {$CallType} {$Nature}
BOX AREA: {$BoxArea} PRIORITY: {$Priority}
RUN CARD: {$StationGrid}

ASSIGNED: {$Assigned}
DISPATCH: {$UnitList}

{$Narrative}